@media screen and (max-device-width: 640px) {
  .log-form{
    margin: auto;
    display: block;
    width: 22%;
    margin-top: 15%;
    text-align: right;
    color: white;
    font-family: "Open-sans", sans-serif;
    font-size: 1.2em;
    max-width: 216px;
  }

  .log-form > input[type="submit"]{
    margin: auto;
    display: block;
    margin-top: 15px;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 1.2em;
    padding: 8px 25px;
  }
}
