@media screen and (max-device-width: 640px) {
  .log-form{
    width: 90%;
    margin-top: 50%;
    font-size: 4em;
  }

  label {
    display: block;
    margin-bottom: 15px;
  }

  #password,
  #login {
    padding: 5px;
    width: 100%;
    margin-bottom: 50px;
  }

  .log-form > input[type="submit"]{
    margin-top: 50px;
    border: 3px solid white;
  }
}
