@media screen and (max-device-width: 640px) {
    .playlist-div,
    .playlist-div-show,
    .playlist-sidebar-hided,
    .playlist-reader-hided {
        width: 100%;
        margin: 7vh 0 0;
    }

    .playlist-reader-showed {
        height: 75vh;
    }
}
