@media screen and (max-device-width: 640px) {
	#SongName{
		font-size: 3em;
	}

	#AudioPlayer {
		bottom: -250px;
		height: 250px;
		width: 100%;
	}

	#Previous {
		top: 150px;
		left: 170px;
	}

	#Play {
		top: 150px;
		left: 290px;
	}

	#Next {
		top: 150px;
		left: 410px;
	}

	#Mute,
	#Volume {
		display: none;
	}

	.time {
		font-size: 2.7em;
	}

	#ProgressBar {
		width: 75%;
	}

	#Loop {
		top: 150px;
		left: 50px;
	}

	#Random {
		top: 150px;
		left: 530px;
	}

	#Play,
	#Loop,
	#Random,
	.player-button {
		width: 50px;
		position: absolute;
		height: 50px;
	}

	#ProgressBar {
		height: 10px;
		border-radius: 25px;
		outline: none;
	}

	#ProgressBar {
		width: 77% !important;
	}

	#ProgressBar {
		margin-top: 26px !important;
	}

	#ProgressBar::-webkit-slider-thumb,
	#ProgressBar::-moz-range-thumb{
		width: 35px;
		height: 35px;
	}

}
