@media screen and (max-device-width: 640px) {
  #songName{
    font-size: 3em;
  }

  #audio-player {
    bottom: -250px;
    height: 250px;
    width: 100%;
  }

  #Previous {
    top: 150px;
    left: 100px;
  }

  #play {
    top: 150px;
    left: 260px;
  }

  #Next {
    top: 150px;
    left: 420px;
  }

  #mute {
    top: 150px;
    right: 30%;
  }

  .time {
    font-size: 2.7em;
  }

  #progressbar {
    width: 75%;
  }

  #play,
  #mute,
  .player-button {
    width: 50px;
    position: absolute;
    height: 50px;
  }

  #Volume,
  #progress-bar {
    height: 10px;
    border-radius: 25px;
    outline: none;
  }

  #progress-bar {
    width: 77% !important;
  }

  #Volume {
    position: absolute;
    right: 15px;
    width: 25%;
    height: 10px;
    top: 145px;
  }

  #Volume,
  #progress-bar {
    margin-top: 26px !important;
  }

  #Volume::-webkit-slider-thumb,
  #progress-bar::-webkit-slider-thumb {
    width: 35px;
    height: 35px;
  }

  #Volume::-moz-range-thumb,
  #progress-bar::-moz-range-thumb {
    width: 35px;
    height: 35px;
  }
}
