@media screen and (max-device-width: 640px) {
  .sidebar,
  .sidebar-hide {
    background-color: #0B0B0B;
    width: 100%;
    text-align: center;
    padding-top: 200px;
    z-index: 960;
  }

  .sidebar > ul,
  .sidebar-hide > ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
    padding: 30% 0;
  }

  .arrow {
    height: 80px;
    top: 10px;
  }

  .arrow-active {
    height: 80px;
    top: 10px;
  }

  .sidebar-hide {
    margin-left: -100%;
  }

  .sidebar > ul > li > input[type="button"],
  .sidebar-hide > ul > li > input[type="button"] {
    font-size: 5em;
  }
}
