/* @media screen and (max-device-width: 640px) {
	#Upload,
	#Edit {
		left: 5%;
		width: 90%;
		top: 15%;
	}

	#BannerContainer {
		height: 400px;
		width: 400px;
	}

	.editImage {
		width: 80px;
	}

	#Upload > form > ul > li > ul > li > label > img {
		width: 50%;
	}

	#Upload > form > ul > li > label > img {
		max-width: 200px;
		min-width: 200px;
	}

	#Upload > form > label {
		font-size: 2.5em;
		margin-top: 5%;
		display: block;
	}

	#Upload > form > input[type="text"],
	#Edit > form > input[type="text"] {
		font-size: 3em;
		width: 80%;
		margin-bottom: 50px;
	}
} */
