@media screen and (max-device-width: 640px) {
	.library-reader-active {
		margin-bottom: 81vh !important;
	}

	.library {
		margin-top: 7vh !important;
		max-height: 93vh;
		width: 100%;
	}

	.library > div,
	.library-show > div {
		padding: 0;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.library > div > ul,
	.library-show > div > ul {
		width: 220px;
	}

	.library > div > ul > .view,
	.library-show > div > ul > .view {
		height: 220px;
	}

	.library > div > ul > li > p,
	.library-show > div > ul > li > p {
		font-size: 3em;
	}

	.edit,
	.delete,
	.add,
	.check,
	.edit-hide,
	.delete-hide,
	.add-hide,
	.check-hide,
	.playing {
		height: 220px;
		width: 222px;
		background-size: 40%;
	}

	.playing {
		background-size: 100% !important;
	}
}
