@media screen and (max-device-width: 640px) {
	.library-reader-active {
		max-height: 75vh !important;
	}

	.library {
		margin-top: 7vh !important;
		max-height: 93vh;
		width: 100%;
	}

	.library > div,
	.library-show > div {
		grid-template-columns: repeat(auto-fill, 100px);
	}

	.library > div > ul > .view,
	.library-show > div > ul > .view {
		height: 100px;
	}

	.edit,
	.delete,
	.add,
	.check,
	.edit-hide,
	.delete-hide,
	.add-hide,
	.check-hide,
	.playing {
		height: 100px;
		width: 100px;
		background-size: 40%;
	}

	.playing {
		background-size: 100% !important;
	}
}
