#Account {
    left: 25vw;
    width: 50vw;
    top: 15vh;
    height: 70vh;
}

.div-account {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.5em;
}

.div-account > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.account-element-title > p {
    font-weight: 800;
    margin-right: 7px;
}

.account-progress-bar-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: 0 15px;
}

.account-progress-bar-element > div {
    display: block;
	border: 1px;
	width: 100%;
	height: 15px;
	background-color: rgb(90, 90, 90);
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
}

.account-progress-bar-element > div > div {
    width: 0;
    height: 15px;
    background-color: black;
    text-align: center;
    line-height: 15px;
}

.account-progress-bar-element > div > div > p {
    color: white;
    display: inline;
    font-weight: 500;
    font-size: 10px;
    vertical-align: bottom;
}