#Account {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.div-account {
    height: 100%;
}

.div-account > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.account-element-title > p {
    font-weight: 800;
    margin-right: 7px;
}

.account-progress-bar-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: 0 15px;
}