#Background{
  position: fixed;
  z-index: 998;
  background-color: #000;
  opacity: .6;
  top: 0%;
  height: 0%;
  width: 100%;
  transition-duration: 0.8s;
}

.background-appear{
  height: 100% !important;
  transition-duration: 0.8s;
}
