#CreateAccount {
    left: 25vw;
    width: 50vw;
    top: 15vh; 
}

#CreateAccount > h2 {
    text-align: center;
    margin: 3vh 0;
    font-weight: 700;
    font-size: 2em;    
}

#CreateAccount > form > ul,
.fields-create-account {
    list-style: none;
    padding: 0;
    margin: 0;
}

#CreateAccount > form > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
}

.fields-create-account {
    display: table;
    width: 30vw;
    margin: auto;
}

.fields-create-account > label {
    font-weight: 600;
    font-size: 1.4em;
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    margin-right: 15px;
}

.fields-create-account > input {
    padding: 5px;
    border: 1px solid black;
    font-size: 1.3em;
    width: 100%;
    display: table-cell;
}

#CreateAccountButton {
    margin-top: 3vh;
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
    font-size: 1.4em;
    color: white;
    background: black;
    border: 1px solid black;
}