#CreateAccount {
    left: 25vw;
    width: 50vw;
    top: 15vh; 
}

#CreateAccount > h2 {
    text-align: center;
    margin: 3vh 0;
    font-weight: 700;
    font-size: 2em;    
}

#CreateAccount > form > ul,
.fields-create-account {
    list-style: none;
    padding: 0;
    margin: 0;
}

#CreateAccount > form > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
}

.fields-create-account {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.fields-create-account > label {
    font-weight: 600;
    font-size: 1.4em;
}

.fields-create-account > input {
    padding: 5px;
    border: 1px solid black;
    font-size: 1.3em;
}

#CreateAccountButton {
    width: 100%;
    border: none;
    background: black;
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 2vh;
    font-weight: 600;
    font-size: 2em;
}