#Delete {
	background-color: white;
	position: fixed;
	z-index: 999;
	max-height: 0;
	transition: max-height 0.5s ease-out;
	overflow: hidden;
	position: absolute;
}

#Delete > h2 {
	text-align: center;
	font-family: "Open sans", sans-serif;
	margin-top: 25px;
}

#Delete > ul {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style: none;
}

#Delete > ul > li > input {
	background: none;
	font-family: "Open sans", sans-serif;
	cursor: pointer;
}
