#Delete > h2 {
	text-align: center;
	margin-top: 25px;
}

#Delete > ul {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style: none;
}

#Delete > ul > li > input {
	background: none;
	cursor: pointer;
}
