#Edit {
	overflow-y: scroll;
}

#BannerContainer {
	margin: auto;
	margin-top: 3vh;
	height: 250px;
	width: 250px;
}

#Banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	height: 100%;
	width: 100%;
	position: relative;
	border-radius: 15px;
}

.editImage {
	color: white;
	font-size: 24px;
}

.modify-img {
	position: absolute;
	right: 5%;
	top: 3%;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}