#BannerContainer {
	margin: auto;
}

#Banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	height: 100%;
	width: 100%;
	position: relative;
}

.modify-img {
	position: absolute;
	right: 5%;
	top: 3%;
}