.form-title {
    text-align: center;
    font-weight: 700;
}

.form-list,
.fields {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fields {
    display: table;
    margin: 1.5vh auto;
}

.fields > label {
    font-weight: 600;
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    margin-right: 15px;
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
}

.fields > input {
    padding: 10px;
    border: 2px solid black;
    font-weight: 300;
    width: 100%;
    display: table-cell;
    margin-left: 15px;
}

.send-form {
    margin: 3vh auto 0;
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    color: white;
    background: black;
    border: 1px solid black;
}