header{
	background-color: #0B0B0B;
	width: 100%;
	margin: 0;
	top: 0;
	position: fixed;
	height: 7vh;
	line-height: 7vh;
	white-space: nowrap;
	z-index: 1000;
}

header > h1{
	text-align: center;
	color: #fff;
	margin: 0;
	font-size: 2vh;
}

.arrow {
	cursor: pointer;
	position: fixed;
	height: 5vh;
	margin: 1vh 0 0 2vw;
	transition: 0.8s;
}

.arrow-active {
	transform: rotate(180deg);
}
