#Help {
    overflow-y: scroll;
    overflow-x: hidden;
}

#Help > h3 {
    font-size: 1.7em;
    text-align: center;
    text-decoration: underline;
    margin-top: 2vh;
}

#Help > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Help > ul > li > p {
    font-weight: 400;
    font-style: italic;
    font-size: 1.4em;
}

#Help > ul > li > p > strong {
    font-weight: 700 !important;
    font-style: normal !important;
}