#Help {
    left: 25vw;
    width: 50vw;
    top: 25vh;
}

#Help > h2 {
    text-align: center;
    margin: 2vh 0;
}

#Help > ul {
    list-style: none;
    margin: 0;
    padding: 1vh 0 2vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}