.add,
.add-hide {
	background-image: url("../../img/add.png");
}

.check,
.check-hide {
	background-image: url("../../img/check.png");
}

.playlist-name {
	color: white;
	background: none;
	margin: 50px auto 0;
	display: block;
	font-size: 1.3em;
	border: 1px solid white;
	padding: 5px;
}

.button-create-playlist {
	background: none;
	color: white;
	margin: 15px auto 0;
	display: block;
	cursor: pointer;
	border: 1px solid white;
	padding: 10px 20px;
	font-size: 1.7em;
}

.playlist-div-hide,
.playlist-div,
.playlist-sidebar-hided,
.playlist-reader-hided {
	position: fixed;
	min-width: 810px;
	height: 93vh;
	background-color: #0F0F0F;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 900;
	transition: 0.8s;
}

.playlist-div-hide {
	height: 0 !important;
	transition: 0.8s;
}

.listPlaylist {
	list-style: none;
	padding: 0;
	width: 100% !important;
	text-align: left;
	margin: 0 !important;
	color: white;
}

.table {
	cursor: pointer;
	padding: 40px 15px;
	transition: 0.8s;
}

.table > p {
	text-align: left;
	margin: 0;
	font-size: 2em;
}
