.progress {
	display: block;
	margin: 5px auto;
	border: 1px;
	width: 100%;
	height: 10px;
	background-color: #ccc;
	border-radius: 5px;
	text-align: center;
}

.progress-bar{
	width: 0px;
	height: 10px;
	background-color: black;
	text-align: center;
	line-height: 10px;
	border-radius: 5px;
	font-size: 10px;
}

.progress-bar-text {
	margin: 0 auto;
	width: 100%;
	color: white;
}