.progress {
	display: block;
	margin: 5px auto;
	border: 1px;
	width: 100%;
	background-color: #ccc;
	border-radius: 50px;
	text-align: center;
}

.progress-bar{
	width: 0px;
	height: inherit;
	background-color: black;
	text-align: center;
	line-height: 50%;
	border-radius: 50px;
}

.progress-bar-text {
	margin: 0 auto;
	width: 100%;
	color: white;
	display: inline-block;
	height: inherit;
	vertical-align: middle;
	font-size: 0.7em;
}