#songName{
  font-family: "Open-sans", sans-serif;
  color: white;
  padding-left: 25px;
  margin: 0;
}

#audio-player > ul {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
}

#audio-player {
  z-index: 950;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 100%;
  overflow: hidden;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  transition-duration: 0.8s;
}

.show{
  bottom: 0px !important;
  transition-duration: 0.8s;
}

#controls {
  display: flex;
  padding-left: 25px;
  height: 50px;
  width: 100%;
  margin: auto;
}

.time {
  font-size: 10px;
  color: white;
  position: relative;
  top: 13px;
  margin: 5px;
  margin-top: 3px !important;
  font-family: "Open-sans", sans-serif;
}

.ui-progressbar {
  background: #0B0B0B;
}

.ui-progressbar-value {
  background: white;
}

#progressbar {
  height: 14px;
  display: inline-block;
  border-radius: 0px;
  position: relative;
  top: 16px;
  border: none;
}

#play,
#mute,
.player-button {
  cursor: pointer;
}

#play {
  margin-left: 0 !important;
}

#Volume,
#progress-bar {
  -webkit-appearance: none;
  width: 10%;
  background: #0B0B0B;
  outline: none;
  margin: 18px 10px 0 10px;
  background: linear-gradient(to right, #FFF 75%, #0B0B0B 75%)
}

#progress-bar {
  background: linear-gradient(to right, #FFF 0%, #0B0B0B 0%)
}

#Volume::-webkit-slider-thumb,
#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
}

#Volume::-moz-range-thumb,
#progress-bar::-moz-range-thumb {
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.fa-volume-up,
.fa-volume-off,
.fa-pause,
.fa-play {
  background-size: cover;
}

.fa-volume-up{
  background-image: url("../../img/audio-on.png");
}

.fa-volume-off{
  background-image: url("../../img/audio-off.png");
}

.fa-pause{
  background-image: url("../../img/play.png");
}

.fa-play{
  background-image: url("../../img/pause.png");
}
