#MediaPlayer {
	display: none;
}

#AudioPlayer {
	z-index: 950;
	background-color: #0B0B0B;
	position: fixed;
	overflow: hidden;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	transition-duration: 0.8s;
}

.show {
	bottom: 0px !important;
	transition-duration: 0.8s;
}

#SongName {
	padding-left: 25px;
	margin: 0;
}

#Controls {
	padding-left: 25px;
	height: inherit;
	width: 100%;
	margin: auto;
	line-height: 12vh;
}

.reader-buttons {
	position: relative;
	cursor: pointer;
	vertical-align: middle;
}

.time {
	line-height: initial;
}

#Volume,
#ProgressBar {
	-webkit-appearance: none;
	width: 13%;
	outline: none;
}

#Volume {
	background: linear-gradient(to right, rgb(255, 255, 255) 100%, rgb(50, 50, 50) 0%);
}

#ProgressBar {
	background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(50, 50, 50) 100%);
}

#Volume::-webkit-slider-thumb,
#ProgressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

#Volume::-webkit-slider-thumb,
#ProgressBar::-webkit-slider-thumb,
#Volume::-moz-range-thumb,
#ProgressBar::-moz-range-thumb,
#Volume::-ms-thumb,
#ProgressBar::-ms-thumb {
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
}