#AudioPlayer {
	z-index: 950;
	background-color: #0B0B0B;
	position: fixed;
	overflow: hidden;
	color: white;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	transition-duration: 0.8s;
}

.show {
	bottom: 0 !important;
}

#MusicName {
	font-size: 1.4em;
	margin-top: 15px;
	margin: 0;
}

#Controls {
	width: 100%;
}

#Controls > button {
	background: none;
	border: none;
	padding: 0;
}

.reader-buttons {
	position: relative;
	cursor: pointer;
	vertical-align: middle;
}

#CurrentTime,
#EndTime {
	font-size: 13px;
	line-height: initial;
}

#Volume,
#ProgressBar {
	-webkit-appearance: none;
	width: 13%;
	outline: none;
	height: 5px;
	background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(50, 50, 50) 100%);
}

#Volume::-webkit-slider-thumb,
#ProgressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: none;
}

#Volume::-moz-range-thumb,
#ProgressBar::-moz-range-thumb {
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: none;
}

#Volume::-ms-thumb,
#ProgressBar::-ms-thumb {
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: none;
}

.playlist-button {
	margin-left: 12.5%;
}