.medias-upload-list {
	display: flex;
	justify-content: space-around;
	margin: 35px auto;
	list-style: none;
	padding: 0;
	width: 80%;
}

.medias-upload-list > li > ul {
	padding: 0;
	list-style: none;
}

.medias-upload-list > li > ul > li > label {
	cursor: pointer;
}

.medias-upload-list > li > ul > li > label > img {
	box-sizing: content-box;
	width: 100%;
}

#Upload > form > input[type="file"],
#PictureEdit {
	display: none;
}