.library {
	position: fixed;
	height: 91vh;
	padding: 1vh 0;
	margin-top: 7vh !important;
	width: 100%;
	z-index: 500;
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #0F0F0F;
	transition: 0.8s;
}

.library > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.library > ul > .view {
	width: 100%;
	cursor: pointer;
	background-color: black;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.library > ul > li > p {
	font-size: 1.1em;
	text-align: center;
	color: #fff;
	margin: 5px 0 0 0;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.edit {
	background-image: url("../../img/edit.png");
}

.edit-hide,
.delete-hide,
.add-hide,
.check-hide {
	animation: hide-edit 0.8s ease !important;
}

.delete,
.delete-hide {
	background-image: url("../../img/delete.png");
}

.playing {
	background-image: url("../../img/playing.gif");
	opacity: 0.7;
	animation: show-playing 0.8s ease !important;
	z-index: 1 !important;
}

@keyframes show-edit {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	}
}

@keyframes hide-edit {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
		}
}

@keyframes show-playing {
		0% {
				opacity: 0;
		}
		100% {
				opacity: 0.7;
		}
}
