.library {
	position: fixed;
	height: 91vh;
	padding: 1vh 0;
	margin-top: 7vh !important;
	width: 100%;
	z-index: 500;
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #0F0F0F;
	transition: 0.8s;
}

.library > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.library > ul > .view {
	width: 100%;
	cursor: pointer;
	background-color: black;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.library > ul > li > p {
	font-size: 1.1em;
	text-align: center;
	color: #fff;
	margin: 5px 0 0 0;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.layout {
	position: absolute;
	cursor: pointer;
	animation: show-playing 0.8s;
	border-radius: 10px;
	z-index: 2;
	background-color: rgba(0, 0, 0, .5);
}

.layout > .bi {
	color: white;
	text-align: center;
	display: block;
	line-height: 150px;
	font-size: 40px;
}

.playing {
	background-image: url("../../img/playing.gif");
	opacity: 0.7;
	position: absolute;
	cursor: pointer;
	border-radius: 10px;
	animation: show-playing 0.8s;
	z-index: 1;
}

@keyframes show-playing {
		0% {
				opacity: 0;
		}
		100% {
				opacity: 0.7;
		}
}
