@media screen and (min-device-width: 641px) {
    .form-title {
        font-size: 2em;
        margin: 3vh auto;
    }

    .fields {
        width: 30vw;
    }

    .fields > label {
        font-size: 1.4em;
    }

    .fields > input {
        font-size: 1.4em;
    }

    .send-form {
        padding: 25px 0;
        font-size: 1.4em;
    }
}