@media screen and (min-device-width: 641px) {
	.appear {
		max-height: 550px !important;
	}

	.cross {
		height: 35px;
		border-left: 2px solid black;
		padding: 15px;
		border-bottom-left-radius: 10px;
		border-bottom: 2px solid black;
	}

	.error-msg {
        font-size: 1.5em;
	}
}