@media screen and (min-device-width: 641px) {
	.cross {
		height: 20px;
		padding: 20px;
		border-bottom-left-radius: 10px;
	}

	.error-msg {
        font-size: 1.5em;
	}

	.edit,
	.delete,
	.add,
	.check,
	.edit-hide,
	.delete-hide,
	.add-hide,
	.check-hide,
	.playing {
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		background-position: center;
		background-repeat: no-repeat;
		margin-left: -1px;
		cursor: pointer;
		animation: show-edit 0.8s ease;
		z-index: 2;
	}
}