@media screen and (min-device-width: 641px) {
  #mediaPlayer{
    background-color: #0B0B0B;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition-duration: 0.8s;
    position: fixed;
    z-index: 0;
  }
}
