@media screen and (min-device-width: 641px) {
    .playlist-div,
    .playlist-div-show,
    .playlist-sidebar-hided,
    .playlist-reader-hided {
        width: 80%;
        margin: 7vh 0 0 20%;
    }

    .playlist-reader-showed {
        height: 81vh;
    }

    .playlist-sidebar-hided {
        margin-left: 0% !important;
        width: 100% !important;
    }

    .table:hover {
        background-color: #0B0B0B !important;
        padding-left: 30px !important;
        transition: 0.8s;
    }
}
