@media screen and (min-device-width: 769px) {
	#AudioPlayer {
		width: 100%;
		height: 12vh;
		bottom: -12vh;
	}

	#Controls {
		margin: 15px 10%;
	}

	.reader-sidebar {
		padding-left: 20% !important;
	}

	#AudioControllers {
		width: 20%;
	}

	#TimeControllers {
		width: 40%;
	}

	.reader-buttons > img {
		width: 25px;
	}

	/* #Loop {
		margin-right: 20px;
	}

	#PlayPause {
		margin-left: 5px;
		margin-right: 5px;
	}

	#CurrentTime,
	#EndTime {
		vertical-align: middle;
		display: inline-block;
	}

	.current-time {
		margin-left: 15px;
		margin-right: 5px;
	}

	.total-time {
		margin-left: 5px;
		margin-right: 15px;
	}

	#Mute {
		margin-left: 20px;
		margin-right: 5px;
	}

	#Volume,
	#ProgressBar {
		border-radius: 5px;
		opacity: 0.7;
		transition: opacity .2s;
	} */

	#ProgressBar {
		width: 40% !important;
	}

	#Volume:hover,
	#ProgressBar:hover {
		opacity: 1;
	}
}