@media screen and (min-device-width: 641px) {
  #songName{
    font-size: 1.4em;
    position: absolute;
  }

  #audio-player {
    margin-left: 20%;
    bottom: -12vh;
    height: 12vh;
    width: 80%;
  }

  .left {
      padding-left: 10% !important;
      margin-left: 0% !important;
      width: 100% !important;
  }

  .time {
    font-size: 1.2em;
  }

  #progressbar {
    width: 50%;
  }

  #play,
  #mute,
  .player-button {
    position: relative;
    top: 13px;
    margin-left: 20px;
  }

  .reader-buttons {
    position: relative;
    height: 25px;
    width: 25px;
    top: 9px;
    cursor: pointer;
    display: inline-block;
  }

  .random {
    margin-left: 15px !important;
  }

  .loop {
    margin-right: 20px !important;
  }

  .previous {
    margin-right: 15px !important;
  }

  .next {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  #Volume,
  #progress-bar {
    height: 1px;
    border-radius: 5px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  #progress-bar {
    width: 40% !important;
  }

  #Volume:hover,
  #progress-bar:hover {
    opacity: 1;
  }

  #Volume::-webkit-slider-thumb,
  #progress-bar::-webkit-slider-thumb,
  #Volume::-moz-range-thumb,
  #progress-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }

}
