#CreateAccount {
    left: 25vw;
    width: 50vw;
    top: 15vh; 
}

#Account {
    left: 25vw;
    width: 50vw;
    top: 15vh;
    height: 70vh;
}

#Help {
    left: 25vw;
    width: 50vw;
    top: 25vh;
}