@media screen and (min-device-width: 641px) {
    #Upload,
    #Edit,
    #Delete,
    #Help,
    #Account,
    #CreateAccount {
        left: 25vw;
        width: 50vw;
    }
    
    #Account {
        height: 70vh;
    }
}