@media screen and (min-device-width: 641px) {
  #upload,
  #edit {
    left: 25%;
    width: 50%;
    top: 25%;
  }

  #banner {
    height: 250px;
    width: 250px;
  }

  .editImage {
    width: 40px;
  }

  #upload > form > ul > li > label > img {
    max-width: 120px;
    min-width: 100px;
  }

  #upload > form > input[type="text"],
  #edit > form > input[type="text"] {
    font-size: 1.3em;
    width: 50%;
  }

  .progress-bar {
    border: black solid 2px;
    width: 400px;
    height: 40px;
    line-height: 40px;
  }

  .progress-bar .bar span {
    width: 400px;
  }
}
