@media screen and (min-device-width: 641px) {
	.library {
		grid-template-columns: repeat(auto-fill, 150px);
	}

	.library-sidebar {
		margin-left: 20%;
		width: 80% !important;
	}

	.library-reader-active {
		max-height: 81vh !important;
	}

	.library > ul > .view  {
		height: 150px;
	}

	.library > ul > li > p {
		max-width: 150px;
		line-height: 15px;
		font-weight: 300;
	}

	.edit,
	.delete,
	.add,
	.check,
	.edit-hide,
	.delete-hide,
	.add-hide,
	.check-hide,
	.playing {
		height: 150px;
		width: 150px;
	}
}