@media screen and (min-device-width: 641px) {
  .library,
  .library-show {
    width: -webkit-fill-available;
  }

  .library {
    margin: 50px 0px 0px 20%;
  }

  .library-show {
    margin-top: 50px!important;
  }

  .library-reader-active {
    margin-bottom: 91px !important;
  }

  .library > div,
  .library-show > div {
    padding: 10px 2.5%;
  }

  .library > div > ul,
  .library-show > div > ul {
    width: min-content;
    margin: 10px 0 0 10px;
    min-width: 150px;
  }

  .library > div > ul > .view,
  .library-show > div > ul > .view {
    height: 150px;
  }

  .library > div > ul > li > p,
  .library-show > div > ul > li > p {
    font-size: 1.1em;
    max-width: 150px;
    max-height: 43px;
    overflow: hidden;
    word-break: break-word;
    line-height: 15px;
    font-weight: 300;
  }

  .edit,
  .delete,
  .add,
  .check,
  .edit-hide,
  .delete-hide,
  .add-hide,
  .check-hide,
  .playing {
    height: 150px;
    width: 152px;
  }
}
