header{
  background-color: #0B0B0B;
  width: 100%;
  margin: 0;
  top: 0;
  position: fixed;
  height: 50px;
  z-index: 805;
}

.arrow {
  cursor: pointer;
  position: absolute;
  height: 35px;
  left: 17%;
  top: 10%;
  transform: rotate(180deg);
  transition: 0.8s;
}

.arrow-active {
  cursor: pointer;
  position: absolute;
  height: 35px;
  top: 10%;
  transition: 0.8s;
  left: 2%;
}

header > h1{
  text-align: center;
  color: #fff;
  font-family: "Open-sans", sans-serif;
}
