#songName{
  font-family: "Open-sans", sans-serif;
  font-size: 1.4em;
  color: white;
  display: flex;
  justify-content: center;
  width: 52%;
}

#audio-player > ul {
  padding: 0;
}

#audio-player {
  position: fixed;
  bottom: -100px;
  width: 100%;
  height: 91px;
  overflow: hidden;
  background-color: #2B2B2B;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  transition-duration: 0.8s;
}

.show{
  bottom: 0px !important;
  transition-duration: 0.8s;
}

#controls {
  display: flex;
  height: 50px;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.time {
  font-size: 10px;
  color: white;
  position: relative;
  top: 13px;
  margin: 5px;
  font-family: "Open-sans", sans-serif;
  font-size: 1.2em;
}

.ui-progressbar {
  background: #2B2B2B;
}

.ui-progressbar-value {
  background: white;
}

#progressbar {
  height: 14px;
  display: inline-block;
  border-radius: 0px;
  position: relative;
  top: 16px;
  border: 1px solid white;
}

#progressbar {
  width: 40%;
}

#play,
#mute {
  font-size: 16px;
  width: 20px;
  position: relative;
  top: 13px;
  margin-left: 20px;
}

#play {
  margin-left: 15px;
}

#Volume {
  -webkit-appearance: none;
  width: 10%;
  height: 7px;
  border-radius: 5px;
  background: #0B0B0B;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 18px;
  margin-left: 10px;
}

#Volume:hover {
  opacity: 1;
}

#Volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
}

#Volume::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
