#upload{
  background-color: white;
  position: fixed;
  z-index: 999;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  position: absolute;
  left: 25%;
  width: 50%;
  top: 25%;
}

#upload > form{
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 5% 0;
}

#upload > form > ul{
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  list-style: none;
  padding: 0;
  width: 70%;
}

#upload > form > ul > li > label{
  cursor: pointer;
}

#upload > form > ul > li > label > img{
  box-sizing: content-box;
  width: 25%;
  max-width: 120px;
  min-width: 100px;
}

#upload > form > input[type="text"]{
  font-size: 1.3em;
  font-family: "Open-sans", sans-serif;
  width: 50%;
  border: 1px black solid;
  padding: 5px 0;
  margin: 5px;
}

#upload > form > input[type="file"]{
  display: none;
}

#upload > form > input[type="button"]{
  border: 1px solid black;
  text-align: center;
  background: none;
  font-family: "Open-sans", sans-serif;
  font-size: 1.6em;
  display: block;
  margin: auto;
  margin-top: 100px;
  padding: 2% 10%;
}

.progress-bar {
  position: relative;
  border: black solid 2px;
  width: 400px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  margin: 8% auto auto auto;
}
.progress-bar .bar {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.progress-bar .bar span {
  position: absolute;
  display: block;
  width: 400px;
  height: 100%;
  text-align: center;
  font-family: "Open-sans", sans-serif;
  font-weight: 700;
  font-size: 1.7em;
}
.progress-bar .bar.positive {
  background: black;
  left: 0;
  width: 0%;
}
.progress-bar .bar.positive span {
  left: 0;
  color: white;
}
.progress-bar .bar.negative {
  background: white;
  right: 0;
  width: 100%;
}
.progress-bar .bar.negative span {
  right: 0;
  color: black;
  cursor: pointer;
}
